<h6>New Sub</h6>

<form action="<%=subs_url%>" method="post">

 <label>Title
    <input type="text" name="sub[title]" value="">
  </label>

  <label>Description
    <textarea name="sub[description]"></textarea>
  </label>

  <input type="submit" value="Put new sub in the oven">
</form>