
<h4>New Post</h4>

<form action="<%=posts_url%>" method="POST">

  <label>title
    <input type="text" name="post[title]" value="">
  </label>

  <label>earl
    <input type="text" name="post[url]" value="">
  </label>

  <label>content
    <textarea name="post[content]"></textarea>
  </label>

  <label>Sub
    <% @subs.each do |sub|%>
      <input type="checkbox" name="post[sub_ids][]" value="<%=sub.id%>"><%=sub.title%>
    <% end%>

  </label>

  <input type="submit" value="Submit duh">
</form>
  
